body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 100%, 74%);

}

.wrapper {
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: url('../images/bg-intro-desktop.png');
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left-content {
    max-width: 500px;

}

.left-title {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: white;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-description {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    text-align: left;
    font-weight: 400;
}


.right-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 0px 0px rgb(0, 0, 0, 0.1);
}

.right-subtitle {
    margin: 0;

    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    line-height: 1;
    color: white;
    text-align: center;
    font-weight: 400;

    padding: 20px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 8px;
    box-shadow: 0 8px 0px 0px rgb(0, 0, 0, 0.1);

    margin-bottom: 20px;
}

.right-subtitle span {
    font-weight: 600;
}

.form-item {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: .825rem;
    line-height: 1;
    color: hsl(249, 10%, 26%);
    text-align: left;
    font-weight: 600;

    outline-style: none;
    padding: 12px 24px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
}

.input-error {
    font-family: 'poppins', sans-serif;
    font-size: .825rem;
    line-height: 1;
    text-align: right;
    font-weight: 600;

    color: hsl(0, 100%, 74%);
}

.form-item::placeholder {
    color: hsl(249, 10%, 26%);
}

.invalid::placeholder {
    color: hsl(0, 100%, 74%)
}



.form-item:focus {
    border: 1px solid hsl(249, 10%, 26%);

}

.btn {
    margin: 0;

    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    line-height: 1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    border: 1px solid hsl(154, 59%, 41%);
    border-radius: 4px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 4px 0px 0px hsl(154, 59%, 41%);
    margin-bottom: 10px;
    padding: 20px;

    cursor: pointer;
    transition: .4s;
}

.btn:hover {
    border: 1px solid hsl(154, 59%, 51%);
    background-color: hsl(154, 59%, 61%);
    box-shadow: 0 4px 0px 0px hsl(154, 59%, 51%)
}

.right-terms {
    margin: 0;
    padding: 0 32px;
    font-family: 'poppins', sans-serif;
    font-size: .75rem;
    line-height: 1;
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-weight: 500;
}

.right-terms a {

    font-family: 'poppins', sans-serif;
    color: hsl(0, 100%, 74%);
    font-weight: 500;
    text-decoration: none;
}


@media (max-width:800px) {
    .wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .left-title {
        text-align: center;
    }

    .left-description {
        text-align: center;
    }
}